html{
    background-color: #232323;
}

body{
    width: 100%;
}

.skill-container{
    width: 256px;
    height: 52px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: flex;
}

.upper-skill-main{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.upper-skill-container{
    width: 100%;
    margin-top: 80px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    display: inline-flex;
}

.AboutMe-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    word-wrap: break-word;
}

.upper-accordion{
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
}

.accordion {
    margin-top: 20px;
    text-align: left;
}

.accordion-item {
    background-color: #232323;
    color: white;
    border: 1px solid #232323;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    border-radius: 8px; /* 둥근 테두리 기본 적용 */
}

.accordion-header {
    width: 104px;
    color: white;
    font-size: 20px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 30px;
    padding: 10px;
    padding-left: 0;
    word-wrap: break-word;
    transition: all 0.3s ease; /* 부드러운 호버 효과 */
}

.modal-image-image{
    width: 600px;
    height: 300px
}

.accordion-header:hover {
    background-color: white;
    color: #232323;
    width: 100%; /* 가로 100% 확장 */
    border-radius: 8px; /* 호버 시에도 둥근 테두리 유지 */
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: #232323;
    color: white;
    line-height: 1.8;
    border-radius: 8px; /* 내용 부분에도 둥근 테두리 적용 */
}

.portfolio-text{
    align-self: stretch;
    height: 122px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

.accordion-item.active .accordion-content {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1%;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.skill-icon{
    width: 80px;
    margin-right: 10px;
    height: 80px;
    position: relative;
    flex-shrink: 0;
}

.modal-content {
    position: relative;
    z-index: 1001;
    height: 120%;
    margin-top: 2%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal-title{
    align-self: stretch;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word
}

.modal-button{
    align-self: stretch;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.modal-button2{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 700;
    color: white;
    font-size: 16px;
    background: #373737;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex
}

.modal-back{
    padding: 4px 8px;
    background: #373737;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex
}

.modal-p{
    margin-top: 40px;
    align-self: stretch;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word
}

.modal-git{
    align-self: stretch;
    height: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex
}

.modal-study-detail{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word
}

.modal-content-title{
    width: 104px;
    color: white;
    font-size: 20px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word
}

.modal-content-detail{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word
}

.modal-git-content{
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    cursor: pointer;
}

img {
    display: block; /* 기본적으로 inline 속성을 block으로 변경 */
    vertical-align: middle; /* 혹은 vertical-align을 조정 */
}

.exit-button{
    padding: 16px;
    background: white;
    border-radius: 32px;
    margin-top: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    cursor: pointer;
}

.modal-main-image{
    width: 100%;
    height: 90%;
    max-height: 100vh;
    overflow-y: auto;
    padding: 40px 80px;
    background: #232323;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    display: inline-flex
}

.modal-inline{
    width: 1000px;
    height: 90%;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex
}

.modal-flex{
    flex: 1 1 0;
    height: 90%;
    justify-content: flex-start;
    overflow: auto;
    align-items: flex-start;
    gap: 24px;
    display: flex
}

.card {
    width: 408px;
    height: 400px;
    background: #373737;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: background 0.3s;
    width: calc(33.333% - 20px); /* 카드 너비를 3등분 */
    box-sizing: border-box;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start; /* 카드들이 왼쪽부터 정렬 */
    gap: 20px; /* 카드 사이 간격 */
}

.card img {
    width: 100%;
    height: auto;
}

.card-image {
    height: 180px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }

    .interview-container {
        width: 100%; /* 화면에 맞게 조정 */
        padding: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        box-sizing: border-box; /* 패딩 포함하여 크기 계산 */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}


.card-content {
    flex: 1;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 22px;
    text-align: left;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 36px;
}

.card-description {
    color: #a6a6a6;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
    text-align: left;
    font-weight: 500;
    line-height: 24px;
}

.card-tags {
    display: flex;
    gap: 4px;
}

.tag {
    padding: 4px 8px;
    background: #232323;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #373737;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-title {
    color: white;
    font-size: 24px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
}

.interview-question{
    color: white;
    font-size: 40px;
    font-family: Pretendard, sans-serif;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word;
}

.interview-answer{
    align-self: stretch;
    color: white;
    font-size: 20px;
    font-family: Pretendard, serif;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.interview-container {
    width: 100%; /* 부모 크기를 꽉 채우도록 설정 */
    max-width: 100%; /* 최대 너비를 부모에 맞춤 */
    margin-top: 40px;
    height: auto;
    min-height: 196px;
    padding: 24px;
    background: #373737;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow-x: hidden; /* 가로 스크롤 방지 */
}


.hover-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hover-button {
    width: 240px;
    padding: 16px;
    border: 1px solid white;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-size: 16px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.hover-button:hover {
    background: white;
    color: #373737;
}

.card:hover {
    background: #373737;
}

.card:hover .hover-content {
    opacity: 1;
}

.selector-container {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    padding-right: 10px;
}

.selector {
    display: flex;
    align-items: center;
    background-color: #373737;
    border-radius: 40px;
    padding: 10px;
    width: auto;
    justify-content: space-around;
}


.option {
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: #373737;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
}

.option:hover {
    background-color: #232323;
    color: white;
    transform: scale(1.05);
}

.option.selected {
    background-color: white;
    color: #373737;
    border-radius: 30px;
    padding: 10px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.option.selected:hover {
    background-color: #232323;
    color: white;
    transform: scale(1.1);
}

.skill-title{
   color: white;
    font-size: 24px;
    font-family: Pretendard,serif;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.skill-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    left: calc(50% + 20px);
    transform: translateY(-50%);
    text-align: center;
    color:white; font-family: Pretendard, serif;
    font-weight: 700;
    font-size: 24px;"
}

html, body {
    height: 100%; /* 명시적으로 높이 지정 */
}

#profile{
    height: 100%;
}


/* 스크롤바 숨기기 */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.white-icon {
    filter: invert(1) brightness(2); /* 흰색으로 바꾸기 위한 CSS */
}

.starter-content{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    line-height: 60px;
    word-wrap: break-word;
}

.starter-content2{
    text-align:center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 48px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    line-height: 72px;
    word-wrap: break-word;"
}

.profile-content{
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.profile-text{
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Pretendard,serif;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word
}

#developer{
    text-align: center;
    color: #373737;
    font-size: 340px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

#back-end-container{
    left: 10%;
    top: 184px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    transition: transform 1s ease-out;
}

#back-end{
    width: 100%;

    text-align: center;
    color: #373737;
    font-size: 340px;
    font-family: 'Pretendard', sans-serif ;
    font-weight: 700;
    word-wrap: break-word;
}

#developer-container{
    width: 100%;
    left: 0px;
    top: 490px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    transition: transform 1s ease-out;"
}

#jungeun{
    text-align: center;
    color: white;
    font-size: 104px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700; line-height: 156px;
    word-wrap: break-word;"
}

#various{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    line-height: 60px;
    word-wrap: break-word;"
}

#new-content{
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

#devloper-text{
    text-align: center;
    color: white;
    font-size: 104px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    line-height: 156px;
    word-wrap: break-word;"
}

@media (max-width: 1024px) {
    #back-end-container{
        left: 30%;
        top: 35%;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        transition: transform 1s ease-out;
    }

    #back-end{
        width: 100%;
        text-align: center;
        color: #373737;
        font-size: 104px;
        font-family: 'Pretendard', sans-serif ;
        font-weight: 700;
        word-wrap: break-word;
    }

    #developer{
        width: 100%;
        text-align: center;
        color: #373737;
        font-size: 104px;
        font-family: 'Pretendard', sans-serif;
        font-weight: 700;
        word-wrap: break-word;"
    }

    #developer-container{
        width: 100%;
        top: 490px;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        transition: transform 1s ease-out;
    }

    #jungeun{
        text-align: center;
        color: white;
        font-size: 48px;
        font-weight: 700;
        line-height: 156px;
        word-wrap: break-word;"
    }

    #devloper-text{
        text-align: center;
        color: white;
        font-size: 48px;
        font-weight: 400;
        line-height: 156px;
        word-wrap: break-word;"
    }
}

.modal-main-text{
    align-self: stretch;
    height: 108px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
}

.modal-inner-text{
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}

.text-title{
    align-self: stretch;
    height: 172px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: flex;
}

.text-title-detail{
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.skill-title{
    padding: 8px 16px;
    background: #373737;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
}

.skill-main{
    flex: 0 1 calc(50% - 20px);
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-title{
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    word-wrap: break-word;
}

.about-main{
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
}

.about-title{
    padding: 4px 8px;
    background: #373737;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex;
}

.button-text{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
}

.date-text{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
}

.certificate{
    flex: 1 1 0;
    text-align: left;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;
}

.subtext{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
}

.sub-sub{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    word-wrap: break-word;
}

.sub-main{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
}

.subtext-sub{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.aboutMe-title{
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}